[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.idea/
.idea*/

*.user
*.userosscache
*.suo
*.userprefs

*.pdb
*.exe
*.dll

*.swp
*~
._*
Thumbs.db
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]inaries/
[Tt]est[Rr]esult*/
[Tt]est[Rr]un*/
